<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Reports Bundle - template{% endblock %}</title>
    </head>
    <body>
        <div id="symfony-wrapper">
            <div id="symfony-header">
            </div>
            <div id="symfony-content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>
