{% extends "@BisonLabReports/layout.html.twig" %}

{#
This is the css/js files used here. Or rather than just copy this into your scrip load page or whatever you have, pull minifiles compbined at https://datatables.net/download/
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css">
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
#}


{% block content %}

<h1><strong> {{ report.description }} </strong> </h1>

<table class="record_properties table-striped display compact" id="reports_table" style="width:100%">
    <thead>
    <tr>
      {% set hcount = header | length %}
      {% for elem in header %}
        <th>{{ elem }}</th>
      {% endfor %}
    </tr>
    </thead>
    <tfoot>
    <tr>
      {% for elem in header %}
        <th>{{ elem }}</th>
      {% endfor %}
    </tr>
    </tfoot>
    <tbody>
      {% for row in data %}
        <tr>
            {% set rcount = row | length %}
            {% set rest = hcount - rcount %}
            {% for col in row %}
                {% if col is not empty %}
                    <td>{{ col | raw }}</td>
                {% else %}
                    <td>&nbsp;</td>
                {% endif %}
           {% endfor %}
           {% if rest > 0 %}
               {% for r in 1..rest %}
                    <td>&nbsp;</td>
               {% endfor %}
           {% endif %}
        </tr>
      {% endfor %}
    </tbody>
</table>

<script type="text/javascript">
$(document).ready(function() {

    $('#reports_table').find('tfoot').find('th').each( function () {
        if ($(this).hasClass('no-search') || $(this).hasClass('no-sort')) {
            return;
        }
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search" size="15"/>' );
    });

    if ($('#reports_table >tbody >tr').length > 200) {
        $('#reports_table').dataTable({
            order: [],
            pageLength: 200,
            lengthMenu: [[ 50, 100, 200, 500 -1], [50, 100, 200, 500, "All"]],
            searching: true,
            dom: 'Bfrtip',
            buttons: [ 
                {
                    "extend": 'print',
                    "exportOptions": {
                        "columns": ':visible'
                    }
                },
                {
                    "extend": 'copy',
                    "exportOptions": {
                        "columns": ':visible'
                    }
                },
                {
                    "extend": 'excel',
                    "exportOptions": {
                        "columns": ':visible'
                    }
                },
                {
                    "extend": 'csv',
                    "exportOptions": {
                        "columns": ':visible'
                    }
                },
                {
                    "extend": 'pdf',
                    "exportOptions": {
                        "columns": ':visible'
                    }
                },
                'colvis'
            ],
            initComplete: function () {
                var r = $('#reports_table').find('tfoot').find('tr');
                r.find('th').each(function(){
                    $(this).css('padding', 8);
                });
                $('#reports_table').find('thead').append(r);
                $('#search_0').css('text-align', 'center');

                this.api().columns().every(function () {
                    var that = this;

                    $('input', this.footer()).on('keyup change clear', function () {
                        if (that.search() !== this.value) {
                            that
                                .search(this.value)
                                .draw();
                        }
                    });
                });
            }
        });
    } else {
        $('#reports_table').dataTable({
            paging: false,
            order: [],
            dom: 'Bfrtip',
            buttons: [ 
                {
                    "extend": 'print',
                    "exportOptions": {
                        "columns": ':visible'
                    }
                },
                {
                    "extend": 'copy',
                    "exportOptions": {
                        "columns": ':visible'
                    }
                },
                {
                    "extend": 'excel',
                    "exportOptions": {
                        "columns": ':visible'
                    }
                },
                {
                    "extend": 'csv',
                    "exportOptions": {
                        "columns": ':visible'
                    }
                },
                {
                    "extend": 'pdf',
                    "exportOptions": {
                        "columns": ':visible'
                    }
                },
                'colvis'
            ],
            initComplete: function () {
                var r = $('#reports_table').find('tfoot').find('tr');
                r.find('th').each(function(){
                    $(this).css('padding', 8);
                });
                $('#reports_table').find('thead').append(r);
                $('#search_0').css('text-align', 'center');

                this.api().columns().every(function () {
                    var that = this;

                    $('input', this.footer()).on('keyup change clear', function () {
                        if (that.search() !== this.value) {
                            that
                                .search(this.value)
                                .draw();
                        }
                    });
                });
            }
        });
    }
});
</script>
{% endblock %}
